<!-- *********************************   HOME PAGE  *********************************************** -->
<% if (title == "Home"){ %>
    <button id="b1" type="button"> about me! </button>             <!-- button for move on to aboutme page-->
    <script type="text/javascript">
       document.getElementById("b1").onclick = function () {
           location.href = "/about";
       };
     </script>
 
     <div id="p1">                                 <!--Mission Statement-->
       <h3 >
        Hello, this is my EXPRESS PORTFOLIO for COMP229 Assigment-2. This task is to create authentication for my Express Portfolio. 
        It contains six pages and has been created with css and js and ejs. Feel free to navigate through Home, 
        About, Services, Projects, and Contact page with a form and recently added Partners page and login.
       </h3>
       <h3>
       Here's the design I came up work. Feel free to press any link and explore the website :)  
       </h3>
     </div>
     <p style="position: absolute; top:800px; left: 20px; color: rgb(105, 143, 143);"> thank you </p>
 
 
     <% } else if (title == "About"){%>  <!-- **********************   ABOUT PAGE  *********************** -->
       
       <div>
         
         
       </div>
       <img style="position: absolute; left: 300px; top: 300px;" src="Assets/images/my_image.jpg" height="400px" width="300px" />  <!-- my photo-->
       <a style="position: absolute; left: 650px; top: 680px;" href="Assets/documents/resume.pdf">My Resume </a> </p><!--PDF link-->
       <p style="position: absolute; left: 650px; top: 300px; font-size: 20px;"><!-- My information-->
        Hello, my name is Arsham Faghihnasiri.  I am originally from Iran. 
        I got my high school diploma here in Canada, and I am studying at Centennial College at the moment. I have always loved robotics and computer science. 
        At the moment I am a Robotics Instructor at Exceed Robotics.a 
       </p>
       <p style="position: absolute; top:850px; left: 20px; color: teal;"> thank you for reading </p>
     <%} else if (title == "Projects"){%>
 
     <!-- *********************************   projects page    *********************************************** -->
 
       <!--information about first project-->
      <h2 style="position: absolute; top: 260px; left: 20px; color: rgb(85,128,0);"> Projects : Brief description of what I have done: </h2>
      
      <h4 style="position: absolute; top:300px; left: 50px;"> As of now I have had done many many projects. I have hacked NASA and also Google. 
        I have build apps such Telegram and Viber.
        This proect that you are seeing Also, it includes a contact form, responsive UI and links to targeted documents and websites. 
       </h4>
   
     <%} else if (title == "Services"){%>
 
 <!-- *********************************   service page    *********************************************** -->
 
       <h2 style="position: absolute; top: 280px; left: 30px; color: rgb(85,128,0); text-decoration: underline">The Services I offer: </h2>
       <!-- first service -->
       <h2 style="position: absolute; top: 350px; left: 550px; color:darkslateblue ;"> All programming Languages  <i class="fas fa-wrench"></i> </h2>
       <a href="https://https://github.com/ArshamFN"><img  src="Assets/images/programming.jpg" height="400px" width="800px" style="position: absolute; top:400px; left: 250px;" /></a>
 
       <h2 style="position: absolute; top:  900px;"> thank you</i> </h2>
 
 
     
     <%} else if (title == "Contact me"){%>
      <!-- *********************************   contact page    *********************************************** -->
     
 
       <div class="container" style="position: absolute; top:280px;">
         <h2 style="color: rgb(85,128,0)">How to Connenct</h2>
         <div id="panel" class="panel panel-default" >       <!--create panel to show my contact information -->
           <div class="panel-body">                                
             <h6> Contact no: +1 (647) 425-0372</h6>
             <h6> Email : arshamfaghihnasiri@gamil.com </h6>
 
           </div>
         </div>
       </div>
       <h4 style="position: absolute; top: 400px; left: 425px;">Contact Form:</h4><br>
       <form style="position: absolute; top : 400px; left:400px; width: 600px ; height: 400px; " action="/home">
         <!-- create form to send message -->
         <label for="fname">  First Name:  </label><br>
         <input style=" width: 550px; "type="text" id="fname" name="firstname" placeholder="Your name..."><br>
     
         <label for="lname">  Last Name: </label><br>
         <input style=" width: 550px;" type="text" id="lname" name="lastname" placeholder="Your last name..."><br>
 
         <label for="cnumber">  Contact Number: </label><br>
         <input style=" width: 550px;" type="text" id="cnumber" name="contactno" placeholder="Your Contact no..."><br>
 
         <label for="email">  Email address: </label><br>
         <input style=" width: 550px;" type="text" id="mail" name="email" placeholder="Your email..."><br>
 
         <label for="msg">Your Query: </label><br>
         <textarea id="mdg" name="message" placeholder="Write your query here" style="height:100px; width: 550px;" ></textarea><br>
         <button type="submit" href="/">Submit</button>
       </form>
 
       <h2 style="position: absolute; top:  900px;"> thank you</i> </h2>
 
      <%}%>
 <!-- *********************************   contact page    *********************************************** -->
